.containerApp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

@media screen and (max-width: 800px) {
  .containerApp {
    display: flex;
    flex-direction: column-reverse;
  }
}
